
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Fundo preto */
    background-image: url('imagens/Vector-Smart-Object-copy1.png');
    background-size: cover;
    background-position: center;
    color: #fff; /* Texto branco */
    line-height: 1.8;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    padding: 40px 20px;
    text-align: center;
    color: #fff; /* Texto branco */
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: 'Georgia', serif;
    letter-spacing: 2px;
}

header p {
    font-size: 1.2rem;
    font-style: italic;
    color: #fff;
}

/* Seções */
section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    color: #fff; /* Texto branco */
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Georgia', serif;
    letter-spacing: 1.5px;
    color: #fff;
}

section p {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
    color: #fff;
}

/* Formulários */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    font-size: 1.1rem;
    color: #fff; /* Texto branco */
}

form input, form textarea, form button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
    color: #fff; /* Texto branco */
}

form button {
    background: #333;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #555;
}

/* Rodapé */
footer {
    background: rgba(51, 51, 51, 0.8); /* Fundo semi-transparente */
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    font-size: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        font-size: 90%;
    }

    header h1 {
        font-size: 2rem;
    }

    section {
        padding: 20px;
        margin: 10px;
    }

    form {
        width: 90%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 1rem;
    }

    section {
        padding: 10px;
    }

    form button {
        font-size: 0.9rem;
    }
}